[Unit]
Description=startup script
After=network.target 

[Service]
Type=oneshot
ExecStart=-/usr/local/bin/startup.sh
RemainAfterExit=true
#StandardOutput=journal

[Install]
WantedBy=multi-user.target


